torch>=2
torchvision
tensorboard
matplotlib
wandb
iopath
pyyaml
numpy
opencv-python
submitit
braceexpand
webdataset
timm
transformers
peft
decord
pandas
einops
beartype
psutil
h5py
fire
python-box
scikit-image
ftfy
jupyter
fastapi
uvicorn[standard]
websockets
